h1 {
  padding-top: 20px;
}

h1,
h2,
h3,
p {
  text-align: center;
}

h3 {
  padding-top: 5px;
  font-size: 20px;
}
p {
  margin-bottom: 0;
  font-size: 14px;
}
span {
  font-weight: lighter;
  font-size: 12px;
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}
body {
  border-style: solid;
  border-radius: 8px;
  border-width: 2px;
  margin: 40px auto;
  padding: 10px 10px 40px;
  width: 50%;
}

#search-form {
  text-align: center;
  margin-top: 20px;
}
.col-sm {
  text-align: center;
  font-size: 12px;
}
.fa-sun {
  font-size: 30px;
  padding: 5px 12px;
}
.fa-cloud-rain {
  font-size: 30px;
  padding: 5px 12px;
}
.fa-cloud-sun {
  font-size: 30px;
  padding: 5px 12px;
}

.col-md-auto {
  padding: 0;
  text-align: center;
  background-color: crimson;
}
.col-md {
  text-align: right;
}

.currentDay {
  margin-bottom: 0;
}

#temperature-display {
  text-align: center;
}

#current-temperature {
  font-size: 56px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
}

#current-location {
  border-width: 1px;
  border-radius: 4px;
}
